<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="EclipseRT Tutorial (all remote)" sequenceNumber="18">
<locations>
<location includeAllPlatforms="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.gyrex.features.addons.jersey.jaxrs.feature.group" version="1.0.0.v20120604-1901"/>
<unit id="org.eclipse.gyrex.features.addons.jersey.jaxrs.source.feature.group" version="1.0.0.v20120604-1901"/>
<repository location="http://ageto.github.com/gyrex-jaxrs-application/"/>
</location>
<location includeAllPlatforms="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.objectweb.asm" version="3.3.1.v201105211655"/>
<unit id="org.objectweb.asm.source" version="3.3.1.v201105211655"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20120526062928/repository/"/>
</location>
<location includeAllPlatforms="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.gyrex.features.sdk.feature.group" version="1.0.0.v20120423-0945-788s-F8nhYYFL1bI56i2eqMLmvwM"/>
<repository location="http://download.eclipse.org/gyrex/1.0/"/>
</location>
<location includeAllPlatforms="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="javax.ws.rs" version="1.1.1.v20101004-1200"/>
<unit id="javax.ws.rs.source" version="1.1.1.v20101004-1200"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20120526062928/repository/"/>
</location>
</locations>
</target>
